name: Build & Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      matrix:
        os: [macos-14, windows-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build and Publish
        run: |
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            yarn dist:mac --publish always
          elif [[ "$RUNNER_OS" == "Windows" ]]; then
            yarn dist:win --publish always
          else
            yarn dist:linux --publish always
          fi
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}